{% load static %}

<header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="/#intro" class="scrollto">vbKumm</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/#intro">agência</a></li>
          <li><a href="/#about">sobre</a></li>
          <li><a href="/#services">serviços</a></li>
          <li><a href="/#portfolio">metodologia</a></li>

          <li><a href="/#contact">Contato</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
