{% extends 'base.html' %}
{% load static %}

{% block title %}Adicionar cliente{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container">
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="row mr-1 justify-content-end">
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </form>
</div>
<br>
{% endblock %}