{% extends 'base.html' %}
{% load static %}


{% block head %}

{% endblock %}


{% block stylesheet %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}

    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">



        <header class="section-header">
          <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
              <h3>Clientes</h3>
            </div>
            <div class="col-md-3">
              <a href="{% url 'main:client_add' %}" class="btn btn-primary">Adicionar novo</a>
            </div>
            </div>
        </header>





              {% for client in clients %}
              <div class="card mt-1">

                <div class="testimonial-item">
                  {% if client.company_picture %}
                  <img src="{{MEDIA_URL}}{{ client.company_picture }}" class="testimonial-img" alt="{{ client.company_picture }}">
                  {% endif %}

                  <h3>{{ client.client_company }}</h3>

                  <div class="col-md-4 ml-md-auto m-2">
                    <a href="{% url 'main:client_update' client.pk %}" class="btn btn-primary">
                         Alterar
                    </a>

                    <a href="{% url 'main:client_delete' client.pk %}" class="btn btn-primary">
                         Deletar
                    </a>
                  </div>

                </div>
              </div>


          {% endfor %}



    </section><!-- #testimonials -->




{% endblock %}
{% block javascript %}

</script>


{% endblock %}
